{
  "openapi": "3.1.0",
  "info": {
    "title": "Keupera Public API",
    "description": "Programmatic access to Keupera's Keyword Research, Backlinks, Content, AI Visibility, and Analytics modules.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.keupera.com/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/keywords": {
      "get": {
        "summary": "List keywords",
        "description": "Returns paginated keywords for the authenticated website.",
        "parameters": [
          { "name": "website_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100 } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["active", "planned", "ignored"] } }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of keywords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Keyword" } },
                    "meta": { "$ref": "#/components/schemas/Meta" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Keyword": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "term": { "type": "string" },
          "volume": { "type": "integer" },
          "difficulty": { "type": "integer" },
          "cpc": { "type": "number" },
          "intent": { "type": "string" },
          "status": { "type": "string", "enum": ["active", "planned", "ignored"] },
          "is_starred": { "type": "boolean" },
          "language": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "total": { "type": "integer" },
          "page": { "type": "integer" },
          "limit": { "type": "integer" }
        }
      },
      "Error": {
        "type": "object",
        "properties": { "error": { "type": "string" } }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": { "schema": { "$ref": "#/components/schemas/Error" } }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}